# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual env
venv/
.env
ops_v/
.venv/

# VS Code
.vscode/

# Logs & caches
*.log
gradio_cached_examples/
.cache/

# OS
.DS_Store
Thumbs.db

# Node modules
frontend/node_modules/
frontend_2/node_modules/
node_modules/


.cache/
chatbot/mcp/server/chat.db
chat.db
*.db